h1 {
  font-style: oblique;
  color: red;
  text-align: center;
  font-size: xxx-large;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 150px 150px;
  /*Make the grid smaller than the container*/
  grid-template-rows: 150px 150px;
  padding: 10px;
}

.grid-item {
  height: 150px;
  width: 150px;
  margin: 0px;
  background-color: green;
  border: 1px solid red;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {

  border: 5px solid red;
  box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

p {
  font-size: xx-large;
  text-align: center;
}

#btnBox {
  text-align: center;
}

#restartBtn {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .container {
      display: grid;
      justify-content: center;
      grid-template-columns: 100px 100px 100px;
      /*Make the grid smaller than the container*/
      grid-template-rows: 100px 100px;
      padding: 8px;
    }

    .grid-item {
      height: 100px;
      width: 100px;
      margin: 0px;
      background-color: green;
      border: 1px solid red;
    }
  }
